@use './variable.scss';

body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
:root {
  --vxe-ui-font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  --vxe-ui-font-primary-color: #1890FF;
  --vxe-ui-input-disabled-color: #999;
  --vxe-ui-font-size-default: 14px;
  --vxe-ui-font-size-medium: 12px;
  --vxe-ui-font-size-small: 12px;
  --vxe-ui-font-size-mini: 12px;
  --vxe-ui-input-height-default: 28px;
  --vxe-ui-table-row-height-default: 34px;
  --vxe-ui-table-row-height-medium: 32px;
  --vxe-ui-table-row-height-small: 30px;
  --vxe-ui-table-row-height-mini: 28px;
  --vxe-ui-table-column-padding-default: 6px 0;
  --vxe-ui-table-column-padding-medium: 5px 0;
  --vxe-ui-table-column-padding-small: 4px 0;
  --vxe-ui-table-column-padding-mini: 3px 0;
  --vxe-ui-table-row-line-height: 22px;
  --vxe-ui-table-cell-padding-left: 8px;
  --vxe-ui-table-cell-padding-right: 8px;
  --vxe-ui-checkbox-checked-width: 16px;
  --vxe-ui-checkbox-checked-height: 16px;
  --vxe-ui-checkbox-indeterminate-width:16px;
}
html[data-vxe-ui-theme="light"] {
  --vxe-ui-font-color: #333;
  --vxe-ui-input-border-color: #d2d2d2;
  --vxe-ui-table-header-background-color: #e5e5e5;
  --vxe-ui-table-row-striped-background-color: #efefef;
  --vxe-ui-table-row-hover-background-color: #e8f4ff;
  --vxe-ui-table-row-hover-striped-background-color: #e8f4ff;
  --vxe-ui-table-row-current-background-color: #e8f4ff;
  --vxe-ui-table-row-hover-current-background-color: #e8f4ff;
  --vxe-ui-table-border-color: #d2d2d2;
}